:root {
  /* Colours */
  --color-bg: #146e2f; /* page background */

  /* Header */
  --color-head-bg: #053e03;

  /* Logotype */
  --color-logotype-bg: #000;
  --color-text-logotype: #fffae2;
  --font-logotype-size: 2.5rem;

  /* Global menu */
  --color-menu-bg: #6f90eb;
  /* Links */
  --color-link-bg: #fffae2;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 37px;

  /* Headlines og rubrik */
  --font-h1-size: 48px;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #000;
  --color-headline-text-page: #fffae2;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #fffae2;

  /*  Marginer */
  --margin-head-bottom: 40px;

  /* Borders */
  --border-radius: 37px;

  /* Cards */
  --color-card-bg: #fff;
  --color-cta-card-bg: #ff4b00;
  /* news-cards */
  --color-news-bg: #fffae2;
  --color-news-bg-inverted: #dbe2f5;
  --color-cta-newscard-bg: #ffa680;
  --color-cta-newscard-bg-inverted: #6f90eb;

  /* Fonts */
  --font-family-sans: "rubrik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 48px;
  --headline1-size: 1rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #2d1703e4;
  --color-infobox-1-bg: #fceb94;
  --color-infobox-2-bg: #109025;
}
